# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

rabbitmq/**
log4j/**
.idea
/target
out
ylab-hw1.iml
